# Admin Credentials
VITE_ADMIN_USERNAME=arhamadib@admin.in
VITE_ADMIN_PASSWORD=admin@2728
VITE_ADMIN_SECRET_CODE=271211

# GitHub Sync Configuration
GITHUB_TOKEN=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
GITHUB_OWNER=arhambuilds
GITHUB_REPO=Arham-Builds-Store
GITHUB_BRANCH=main
